
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300;400;500&family=Noto+Sans+Arabic:wght@400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Noto+Kufi+Arabic:wght@300;400;500&family=Noto+Sans+Arabic:wght@400;500;600;700&display=swap');

:root {
  --primary: #91bd45;
  --secondary: #1D6AA2;
  --span: rgb(235, 172, 57);  
  --section-color:rgb(248,249,250);

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  
  overflow-x: hidden;
  /* font-family: 'Noto Kufi Arabic' ; */
  font-family: 'Almarai', sans-serif;
  font-family: 'Noto Kufi Arabic', sans-serif;
font-family: 'Noto Sans Arabic', sans-serif;
}

.primary-bg{
  background-color: var(--primary) !important;
}
.primary-color{
  color: var(--primary) !important;
}
.secondary-color{
  color: var(--secondary) !important;
}
.span-color{
  color: var(--span) !important;

}
.section-color{
  background-color:var(--section-color) !important;
}
