.settings-page{
    direction: rtl;
    text-align: right;
}
.input-with-icon {
    position: relative;
  }
  .input-with-icon input {
    padding-right: 40px; /* Adjust this value based on the icon size */
  }
  .input-with-icon .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  .border-bottom{
    border-bottom: 2px solid black;
  }

  .settings-btn{
    border: 1px solid var(--primary);
    padding: 5px 20px;
    color: var(--primary);
    transition: all .5s;
    &:hover{
        background:var(--primary)!important;
        color: white;
    }
}