
.services-section{
    // background-color: #eee;
    background-color: var(--section-color);

    width: 100% !important;
    padding:20px;
  
    .services-card{
        margin: 0 20px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        direction: rtl;
        border-radius: 10px !important;
        .services-card-icon{
            font-size: 4rem ;
            color:var(--secondary);
            display:block;
            margin:auto;
            border:1px dashed var(--secondary); 
            padding : 10px;
            box-sizing: content-box;
            border-radius: 6px;
        }
        .service-icon{
            color:var(--primary)!important;
            font-size: 1rem;
        }
            .service-card-title{
                font-weight: 600;
                color: gray;
            }
    }

    .scrollbar {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 310px;
        padding-bottom: 180px;  

        @media (min-width: 1200px) {
            padding-bottom: 0;  
        }

        scrollbar-width: thin;
        scrollbar-color: transparent transparent;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: transparent;
            transition: background-color 0.3s ease;
        }

        &:hover::-webkit-scrollbar-thumb {
            background-color: #ddd; /* Change color on hover */
        }
    }
    
}

